
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
body{
    background-color: mediumblue;
}
#title{
    font-size: 2cm;
    display: block;
    text-align: center;
    color: rgb(86, 227, 43);

}
#title::after{
    content: "";
    display: block;
    width: 1000px;
    height: 5px;
    background-color: rgb(86, 195, 78);
    margin: auto;

}